/* SETUP-GUIDE | 1.0.6 | 200921 | setup-be/block-custom/setup-log-106/guide.scss
---------------------------------------------------------------------------------------------------- */

// MODULE GUIDE
.module.guide {

	.acf-block-preview & {
		border-top: #d0ffa1;
		background-color: #f6ffed;
	}

}

// MODULE ITEMS
.item.date,
.item.time,
.item.code,
.item.label,
.item.title,
.item.summary,
.item.info,
.item.user {

	.module.guide & {}

}

// GUIDE-BOX
.module.guide.guide-box {
	padding: 1rem;
	-webkit-box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 	3px 3px 8px 0px rgba(0,0,0,0.15);
	box-shadow: 		3px 3px 8px 0px rgba(0,0,0,0.15);
}

// GUIDE-PREFIX
.module.guide.guide-prefix {
	padding-top: 1rem;
	-webkit-box-shadow: 0 -8px 6px -6px rgba(0,0,0,0.25);
	-moz-box-shadow: 	0 -8px 6px -6px rgba(0,0,0,0.25);
	box-shadow: 		0 -8px 6px -6px rgba(0,0,0,0.25);
}