/* SETUP-VIDEO-BLOCK | 1.0.2 | 201001 | setup-be/block-custom/setup-video-block-102/video.scss
---------------------------------------------------------------------------------------------------- */

// VIDEO MODULE
.module.video {}

// VIDEO BLOCK CONTAINER
.module.video.video-block {}

.video-block {

	// PLAY BUTTON
	.video-button {
		position: absolute;
		background-image: url(../images/youtube_social_icon_red.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: auto;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}

	// VIDEO THUMBNAIL BG
	.video-image {
		position:relative;
		background-color:#333;
		padding-bottom:56.25%;
		height:0;
	}
	.video-image:hover {
		cursor: pointer;
	}

	// VIDEO IFRAME
	.video-iframe {}

}